/*hex for green #A8C971 or #A9C875*/
/*hex for blue #59B7AF or #5EB5AC*/
html, body, h1, h2, h3, h4, p, div {
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}
a, ul, li {
	text-decoration: none;
	list-style-type: none;
}
@font-face {
	font-family: 'Dock11';
	src: url(fonts/Dock11.otf);
}
@font-face {
	font-family: "Yes Please";
	src: url(fonts/yesplease.TTF);
}

body {
	background: url(images/marbleblack.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (min-width:600px)  {

}
@media screen and (max-width:599px) {

}

.overlay {
	background-color: rgb(232, 233, 232);
	border: 3px solid white;
	margin: 10vh 5% 5%;
}
.header h1{
	font-size: 50px;
	color: white;
	text-align: center;
}
.nav ul li {
	display: inline-block;
}
.main {

}
.links ul li {
	display: inline-table;
	margin: 0 auto;
}
.links img{
	height: 40px;
	width: 40px;
}
